# fly.toml app configuration file generated for quiver-league-tracker on 2025-12-07T20:09:13-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'quiver-league-tracker'
primary_region = 'dfw'

[build]

[[mounts]]
  source = 'data'
  destination = '/data'
  
[env]
  VITE_API_BASE_URL = ''



[http_service]
  internal_port = 3333
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
